p { color: black; font-family: Verdana; font-size:5cm }
h1 { color: #369; font-family: Arial; font-size:10cm }
h2 { color: #369; font-family: Arial; font-size:9cm }
h3 { color: #369; font-family: Arial; font-size:8cm }
h4 { color: #369; font-family: Arial; font-size:7cm }
h5 { color: #369; font-family: Arial; font-size:6cm }
h6 { color: #369; font-family: Arial; font-size:5cm }
